body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: black !important;
}

.logo{
  width: 150px;
}

.container {
  padding: 20px;
  width: 50%;
  max-height: 100%;
  overflow: scroll;
}

.description {
  text-align: justify;
  margin: 20px 0;
}

.event-photo-container{
  display: flex;
  flex-wrap: wrap;
}

.event-photo-container img {
  max-height: 150px;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
}

.event-item .description {
  font-size: 10px;
  margin: 20px 0;
}

.lead {
  font-size: 17px;
}

.container a{
  font-weight: 700;
}

.center{
  text-align: center;
}

.center .description {
  text-align: center;
}

.exhibit-item {
  position: relative;
}

.exhibit-title {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}

.exhibit-title a{ 
  color: black;
}

.exhibit-title span:first-of-type {
  width: 250px;
}

.exhibit-title img {
  width: 200px;
  object-fit: contain;
}

.work-title{
  font-weight: bold;
  margin-right: 5px;
}

.art-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.art-description {
  font-size: 10px;
  margin-bottom: 10px;
}

.logo-container {
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}

.logo-container .matter{
  height: 80px;
}

.logo-container .peopleprint{
  height: 60px;
}

.container.red, .container.red a {
  color: #fc2222;
}

.container.blue, .container.blue a {
  color: #6565c4;
}

.container.green, .container.green a {
  color: #63c668;
}

* {
  box-sizing: border-box;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 20px;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: #6565c4;
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: #d3d3f4;
  text-transform: uppercase;
}


@media screen and (max-width: 1100px) {
  body {
    flex-direction: column;
    overflow: auto;
  }
  .container {
    width: 100%;
    max-height: fit-content;   
    overflow: auto;
  }
}